# LlamaIndex API key 
LLAMA_CLOUD_API_KEY=your_llama_cloud_api_key

# Google AI API key 
GEN_AI_API_KEY=your_google_ai_studio_api_key
INGESTION_MODEL_NAME=model_name_for_ingestion_stage
RESOLUTION_MODEL_NAME=model_name_for_resolution_stage

# Broker
KAFKA_BROKER=localhost:9092
KAFKA_CONSUMER_GROUP=outbox-group
KAFKA_CONSUMER_TOPIC=rag-cdc-topic
KAFKA_PRODUCER_TOPIC=rag-extracting-topic

# S3 Storage
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=miniopassword
MINIO_SECURE=false

# Fine-Tuning Concurrency (Prefix-based)
# VALIDATION_MAX_CONCURRENT=2
# VALIDATION_CHUNK_SIZE=20
# EXTRACT_MAX_CONCURRENT=2
# EXTRACT_CHUNK_SIZE=5